<nav class="nav flex-column">
    <NavLink class="nav-link text-white text-uppercase text-center" href="about">
        ABOUT
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center" href="experience">
        EXPERIENCE
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center" href="education">
        EDUCATION
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center" href="interest">
        INTERESTS
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center" href="skill">
        SKILLS
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center" href="award">
        AWARDS
    </NavLink>
</nav>