@page "/about"

<div class="container h-100 d-flex align-items-center">
    @* display-1: set font chữ rất to *@
    @* fw-bold: font-weight: bold *@
    <div class="flex-column">
        <h1 class="display-1 text-uppercase fw-bold">Clarence <span style="color: #bd5d38;">Taylor</span></h1>
        <p class="text-uppercase">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 · <span
                style="color:#bd5d38;">name@email.com</span></p>
        <p>I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews.
            Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
            proposition.
        </p>
        @* gap: set khoảng cách cho từng item con *@
        <div class="d-flex gap-3">
            @* rounded-circle: chỉnh hình tròn cho item *@
            <a class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
                style="width: 70px; height: 70px;" href="#">
                <i class="fab fa-linkedin-in" style="font-size: 30px;"></i>
            </a>
            <a href="#" class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
                style="width: 70px; height: 70px;">
                <i class="fab fa-twitter" style="font-size: 30px;"></i>
            </a>
            <a href="#" class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
                style="width: 70px; height: 70px;">
                <i class="fab fa-github" style="font-size: 30px;"></i>
            </a>
            <a href="#" class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
                style="width: 70px; height: 70px;">
                <i class="fab fa-facebook-f" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>

</div>