@page "/skill"

<div class="container h-100 d-flex align-items-center">
    <div class="flex-column">
        <h1 class="text-uppercase display-2 fw-bold" style="margin-bottom: 50px;">Skill</h1>
        <h3 class="text-uppercase text-secondary">Programming Languages & Tools</h3>
        @* icon *@
        <div class="d-flex gap-3 mt-5">
            <i class="fab fa-html5 text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-css3-alt text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-js-square text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-angular text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-react text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-node-js text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-sass text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-less text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-wordpress text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-gulp text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-grunt text-secondary" style="font-size:50px;"></i>
            <i class="fab fa-npm text-secondary" style="font-size:50px;"></i>
        </div>

        @* worflow *@
        <div>
            <h3 class="text-uppercase text-secondary mb-10" style="font-size:25px">Workflow</h3>
            @* list-unstyled: disable nút chấm tròn trong danh sách *@
            <ul class="list-unstyled">
                <li class="text-secondary">
                    <i class="fa fa-check text-success"></i>
                    Mobile-First, Responsive Design
                </li>
                <li class="text-secondary">
                    <i class="fa fa-check text-success"></i>
                    Mobile-First, Responsive Design
                </li>
                <li class="text-secondary">
                    <i class="fa fa-check text-success"></i>
                    Mobile-First, Responsive Design
                </li>
                <li class="text-secondary">
                    <i class="fa fa-check text-success"></i>
                    Mobile-First, Responsive Design
                </li>
                <li class="text-secondary">
                    <i class="fa fa-check text-success"></i>
                    Mobile-First, Responsive Design
                </li>
            </ul>
        </div>
    </div>
</div>